<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819903424379-0nrvu334bhqll79kbu6985up92bghvq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819903424379-0nrvu334bhqll79kbu6985up92bghvq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBqT9px-WoeIgav1mz5GTXeQWIlN_sKXbI</string>
	<key>GCM_SENDER_ID</key>
	<string>819903424379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ezpzbaby.SwiftUI-Chatting</string>
	<key>PROJECT_ID</key>
	<string>swiftui-chatting-fe3e0</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-chatting-fe3e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819903424379:ios:2f0834f8f539f6b7c27fde</string>
</dict>
</plist>